<html>
<head>
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
</head>
	<body>
		<form action = "{{url_for('add_project')}}" method= "POST">
			<h2>Add Project</h2>
			Name<br><input type = "text" name = "project"></br>
			URL<br><input type = "text" name = "link"></br>
			Description<br><input type = "text" name = "description"></br>
			Dependencies<br><input type = "text" name = "dependencies"></br>
			Language<br><input type = "text" name = "language"></br>
			<br><input type = "submit" class = "btn btn-primary" value = "submit" method='POST'></br>
		</form>

		<form action = "{{url_for('delete_project')}}" method = "POST">
			<h2>Delete Current Projects</h2>
			{% for row in rows %}
			<tr>
				<input value="{{row['name']}}" type = "hidden" name="project">
				<td>{{row['name']}}</td><br><button type="submit" class = "btn btn-danger">Delete</button></br>
			</tr>
			{% endfor %}
		</form>
	<h3><a href="/">Return to Main Page</h3>
	</body>
</html>